---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Jonathan Days Software Engineer"
	pubDate={new Date("August 08 2021")}
	heroImage="/Headshot.jpg"
>
	<p>
		Thank you for taking the time to look at my application! It's incredbily
		appreciated! I’m a Engineer with a real passion for creating robust web
		applications. For me, software development, at its core, is about understand
		problems and solving them programmatically. It's almost like solving a
		puzzle in a way ...sometimes it can be a messy, convoluted puzzle. But that
		makes things more fun in my opinion!
	</p>

	<p>
		When I’m not coding, I like to get outside and touch grass. I love rock
		climbing and mountain biking—they keep me active and always pushing my
		limits. I also enjoy ballroom dancing and Brazilian Jiu-Jitsu.
	</p>

	<p>
		Back in my school days, I was pretty involved in various clubs. I was the
		Vice President of both the Aerial Swing Dance Club and the Rock Climbing
		Club at Southeast. Plus, I was a founding member of the Camera Arts
		Association. I'm sure that you have guessed by now I absolutely love
		collaborating with others in both a professional and personal setting that
		leads to tons of fun!
	</p>

	<p>
		Overall, I’d say I’m someone who thrives on balance, whether it's in my
		professional work or personal life. I love taking on new challenges,
		learning continuously, and bringing a positive, energetic perspective to any
		team I’m part of.
	</p>
</Layout>
