---
import articles from "../../article-list/articles.json";

interface ArticleData {
  title: string;
  url: string;
}
---

<main>
  <h1>Today's Top 10 Hacker News Article</h1>
  <h2>Generate a new list (locally) by running the playwright file.</h2>
  <p>
    Instructions for cloning or downloading the repo can be found here: <a
      href="https://github.com/jonathancdays/QA-Wolf-Take-Home"
      >QA Wolf Take Home</a
    >.
  </p>
  <section id="article-list">
    <table>
      <thead>
        <tr>
          <th>Article</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {
          articles.map((article: ArticleData) => (
            <tr>
              <td>{article.title}</td>
              <td>
                <a href={article.url}>{article.url}</a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
</main>
