---
import fs from "fs";
import path from "path";

const filePath = path.resolve("article-list/articles.json");
const articles = JSON.parse(fs.readFileSync(filePath, "utf8"));
---

<main>
  <section id="article-list">
    <table>
      <thead>
        <tr>
          <th>Article</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {
          articles.map((article: any) => (
            <tr>
              <td>{article.title}</td>
              <td>
                <a href={article.url}>{article.url}</a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
  <section>
    <button
      hx-post="/api/get-article-data.ts"
      hx-trigger="click"
      hx-target="#article-list"
      hx-swap="innerHTML"
    >
      Fetch Latest Articles
    </button>
    <button hx-get="/api/get-article-csv.ts" hx-trigger="click">
      Download CSV
    </button>
  </section>
</main>
